$color-brand-1: #fff;
$color-brand-2: #000;
$color-brand-3: #112e78;
$color-brand-4: #0e245f;
$color-brand-5: #0d2051;
$color-brand-6: #132C6C;
$color-brand-7: #FFE600;
$color-brand-8: #b3bfd3;
$color-brand-9: #0d2051