@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import './styles/MediaQueries.scss';

body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	font-size: 18px;

	@media only screen and (min-device-width: $tablet-landscape) {
		font-size: 16px;
	}
}

h1 {
	font-size: calc(10px + 2vmin);
}

h2 {
	font-size: calc(8px + 2vmin);
}

h3 {
	font-size: calc(6px + 2vmin);
}

h4 {
	font-size: calc(4px + 2vmin);
}

h5 {
	font-size: calc(2px + 2vmin);
}

.appContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}
